<% include header %>
<a href="/new-entry" class="btn btn-primary pull-right">
    escribe en el libro de visitas
</a>
<br/>
<br/>       
<div class="panel panel-default">

    <div class="panel-heading">
            <h4>Eduardo Camacho</h4>
    </div>
    <h4 > Las flores #320</h4>
    <h4> @edtl22</h4>
   
</div>
  
            <br/>
            <br/>
            <br/>
<% if(entries.length){ %>
    <% entries.forEach((entry)=> { %>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted  pull-right">

                        <%= entry.created %>
                </div>
                <%= entry.title%>
              

            </div>

        <div class="panel-body">
            <%= entry.Direccion%>
    </div>
    <div class="panel-body">
        <%= entry.instagram%>
</div>
            <div class="panel-body">
                    <%=entry.body %>
            </div>



        </div>
    <% }) %>

<% }  %>

<% include footer %>